html{
    background: linear-gradient(72.44deg, #432093 0%, #90DAFD 100%);
    color: white;
    font-style: normal;
    height: 100%;
}
body{
    margin: 0;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

h1{
    font-size: 45px;
    text-align: center;
    font-family: 'Space Grotesk';
    font-style: normal;
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px 0px 60px;
    align-items: center;
}
.social{
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 250px 200px 0px 200px;
}

.detail{
    width: 350px;
    display: flex;
    flex-direction: column;
}
.price{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 32px;
}

.rating {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 0;
    list-style-type: none;
    display: inline-flex;
    cursor: pointer;
}


.stars {
    margin-right: 5px;
    font-size: 25px;
}

.ratingtext{
    margin-top: 0%;
    margin-bottom: 0%;
}
.footerbutton{
    color: white;
    font-size: 32px;
    width: 170px;
    height: 50px;
    margin-top: 50px;
}
.buttonline{
    position: relative;
    bottom: 30%;
    width: 100%;
    background-color: white;
}

.content{
    position: relative;
    top: 150px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 350px;
}
.contentbutton{
    position: relative;
    width: 120px;
    height: 150px;
    background-image: url("../assets/ellipse.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.buttonarrow{
    position: absolute;
    top: 55px;
    right: 42px;
    max-height: 40px;
}
.buttonrev{
    transform: scale(-1, 1)
}
.slider{
    position: relative;
    height: 100%;
    overflow: hidden;
}

.sliderimg{
    position: relative;
    max-height: 100%;
    max-width: 100%;

}

.slidertext{
    position: absolute;
    z-index: -1;
    top: 100px;
    left: 10%;
    color: black;
}

.slidertextopacity{
    z-index: 1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1vw black;
}
